-- Spaceprobe client configuration file
--
-- Copy the config.lua.tmpl file to config.lua before adding your details

config = {

	-- Spaceprobe name
	-- ie "rfcomm0" for a real probe
	--     "simulation" for a simulated probe
	spaceprobe_name = "simulation",

	-- Seconds after the knob stops moving
	-- before we react
	knob_latency = 2,

	-- Knob has to move by this much (in raw values, scale 0-1023)
	-- to be considered a new value
	knob_deadband = 10,

	-- Target twitter OAuth credentials
	oauth_consumer_key = "",
	oauth_consumer_secret = "",
	oauth_access_key = "",
	oauth_access_secret = "",

	max_twitter_retries = 20,

	-- SMTP details
	smtp_cmd = "ssmtp -t", -- outgoing email piped to this cmd
	smtp_from = "MHV Space Probe <space@makehackvoid.com>",
	smtp_to = "makers@makehackvoid.com",

	max_email_retries = 20,


	-- Calibration table for the knob
	-- values are [raw-value, hours} where raw-value is
	-- the ADC reading 0-1023 from the probe
	knob_table = { 
		{ 0, 0 }, 
		{ 17, 1},
		{ 121, 2},
		{ 223, 3},
		{ 331, 4},
		{ 342, 5 }, 
		{ 546, 6 },
		{ 658, 7 },
		{ 761, 8 },
		{ 862, 9 },
		{ 961, 10 } 
	},

	-- Calibration table for the readback dial
	-- values are {hours, raw-value} where raw-value is the
	-- PWM setting 0-255
	dial_table = {
		{ 0, 40 },
		{ 1, 55 },
		{ 2, 65 },
		{ 3, 85 },
		{ 4, 110 },
		{ 5, 135 },
		{ 6, 167 },
		{ 7, 200 },
		{ 8, 230 },
		{ 9, 253 },
		{ 10, 254 }
	},

}
