-- Spaceprobe client configuration file
--
-- Copy the config.lua.tmpl file to config.lua before adding your details

config = {

	-- Spaceprobe name
	-- ie "rfcomm0" for a real probe
	--     "simulation" for a simulated probe
	spaceprobe_name = "simulation",

	-- Seconds after the knob stops moving
	-- before we react
	knob_latency = 2,

	-- Knob has to move by this much (in raw values, scale 0-1023)
	-- to be considered a new value (Note that knob value is already smoothed on Arduino side)
	knob_deadband = 15,

	-- Silent mode - don't tweet or email if this is on
	silent_mode = false,

        -- In hours, if the space is open this long after estimated closing time then silently assume it closed
        max_overstay = 8,


	-- Target twitter OAuth credentials
	oauth_consumer_key = "",
	oauth_consumer_secret = "",
	oauth_access_key = "",
	oauth_access_secret = "",

	max_twitter_retries = 20,

	-- SMTP details
	smtp_from = "MHV Space Probe <space@makehackvoid.com>",
	smtp_to = "makers@makehackvoid.com",
	smtp_server ="mail.myhost.com",
	smtp_user="",
	smtp_pass="",

	max_email_retries = 20,


 	-- Calibration table for the knob
	-- values are [raw-value, hours} where raw-value is
	-- the ADC reading 0-1023 from the probe
	knob_table = { 
		{ 149, 0 }, 
		{ 235, 1},
		{ 343, 2},
		{ 439, 3},
		{ 546, 4},
		{ 662, 5 }, 
		{ 762, 6 },
		{ 860, 7 },
		{ 957, 8 },
		{ 1014, 9 },
	},

	-- Calibration table for the readback dial
	-- values are {hours, raw-value} where raw-value is the
	-- PWM setting 0-255
	dial_table = {
		{ 0, 40 },
		{ 1, 55 },
		{ 2, 65 },
		{ 3, 85 },
		{ 4, 110 },
		{ 5, 135 },
		{ 6, 167 },
		{ 7, 200 },
		{ 8, 230 },
		{ 9, 253 },
		{ 10, 254 }
	},

}
